* {
  -webkit-appearance: none;
}

@import 'scss/elements/vars';
@import 'scss/mixins';
@import 'scss/elements/typography';
@import 'scss/elements/dialog';
@import 'scss/elements/buttons';
@import 'scss/elements/icons';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* You can add global styles to this file, and also import other style files */
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Light'), local('Josefin-Sans-Extra-Light'),
//     url('./assets/fonts/JosefinSans-ExtraLight.ttf') format('ttf');
//   font-weight: 100;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Thin'), local('Josefin-Sans-Extra-Thin'),
//     url('./assets/fonts/JosefinSans-Thin.ttf') format('ttf');
//   font-weight: 200;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Light'), local('Josefin-Sans-Extra-Light'),
//     url('./assets/fonts/JosefinSans-Light.ttf') format('ttf');
//   font-weight: lighter;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Regular'), local('Josefin-Sans-Extra-Regular'),
//     url('./assets/fonts/JosefinSans-Regular.ttf') format('ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Medium'), local('Josefin-Sans-Extra-Medium'),
//     url('./assets/fonts/JosefinSans-Medium.ttf') format('ttf');
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra Bold'), local('Josefin-Sans-Extra-Bold'),
//     url('./assets/fonts/JosefinSans-Bold.ttf') format('ttf');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Josefin Sans';
//   src: local('Josefin Sans Extra SemiBold'),
//     local('Josefin-Sans-Extra-SemiBold'),
//     url('./assets/fonts/JosefinSans-SemiBold.ttf') format('ttf');
//   font-weight: 700;
//   font-style: normal;
// }

body {
  margin: 0;
  padding: 0;
  font-family: 'Sofia Pro', 'Josefin Sans', Arial, sans-serif;
  min-width: 320px;
  background: #f4f4f4;
  background-size: cover;
}

html {
  background-color: #f4f4f4;
}
