@import 'vars';
@import '../_mixins';

.nowrap {
  white-space: nowrap;
}

a {
  color: var(--main-green);
  text-decoration: none;
}

.pre {
  white-space: pre;
}
.green-text {
  color: #4aa956;
}

.app-content-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

.span {
  &-icon-svg {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 1;

      &:hover {
        ~ svg,
        ~ object {
          filter: invert(156.9%) sepia(39%) saturate(2307%) hue-rotate(66deg)
            brightness(134%) contrast(107%);
        }
      }
    }
  }
}

.h1 {
  &-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 7vw;
    text-align: center;
    margin: 10px 0;

    @include b(500) {
      font-size: 10vw;
    }
  }
}

.cl {
  &-green {
    color: var(--main-green);
  }
}

.p {
  &-info {
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;

      @include b(800) {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}

.h3 {
  &-info {
    &-text {
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 27px;

      @include b(800) {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.3;
      }
    }
  }

  &-block {
    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 50px;

      @include b(500) {
        font-size: 35px;
      }
    }
  }
}

.container {
  max-width: var(--container-max-width);
  padding: 10px 50px;
  margin: 0 auto;

  @include b(850) {
    padding: 10px 25px;
  }
}
